body {
    background-color: #FFF;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-header {
    margin-top: 3px;
}

#footer > .container {
    height: 60px;
    border: 1px solid #171717;
    width: 100%;
    background-color: #282828;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    text-align: center;
}

.container .text-muted {
    margin: 20px 15px;
}

/* navegador */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0d3f87;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0d3f87;
}

.navbar-inverse .navbar-nav > li > a {
    color: #b7d7f3;
}

.navbar-inverse .navbar-brand {
    color: #b7d3ec;
}

.navbar-default .navbar-link:hover {
    color: #333;
}

.navbar-inverse {
    /*background-color: #2e72af;*/
    border-color: #1a568c;
    background: -webkit-linear-gradient(top, #4ca4d6 0%, #0a4aa8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4ca4d6 0%, #0a4aa8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4ca4d6 0%, #0a4aa8 100%); /* IE10+ */
    border-bottom: 1px solid #0d3f87;
}

.contenedor {
    margin-top: 70px;
    background-color: #f5f5f5;
    border: 1px solid #b6b6b6;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    /* Webkit (Safari/Chrome) */
    -webkit-box-shadow: 0px 0px 9px 7px rgba(180, 180, 180, 0.1);
    /* Mozilla Firefox */
    -moz-box-shadow: 0px 0px 9px 7px rgba(180, 180, 180, 0.1);
    /* Proposed W3C Markup */
    box-shadow: 0px 0px 9px 7px rgba(180, 180, 180, 0.1);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media screen {
    #div-print-logo {
        display: none !important;
    }
}

@media print {

    #figure-print-logo {
        background-color: #006dcc !important;
    }

    #div-print-logo {
        display: block !important;
    }

    .not-view-print {
        display: none !important;
    }
}

.inmuebles_header_registry {
    color: #FFFFFF;
    background-color: #1b809e;
    border: 0 !important;
}